{#
/**
 * @file
 * Default theme implementation to display a multibanco reference.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}




{# commerce_easypay/template/mb-references.html.twig #}


{% if message is not empty %}
	<p>{{ message }}</p>
{% endif %}

{% if entity is not empty%}
	<p>Entidade:
		{{ entity }}</p>
{% endif %}

{% if reference is not empty %}
	<p>Reference:
		{{ reference }}</p>
{% endif %}

{% if amount is not empty and currency is not empty %}
	<P>Amount:
		{{ amount }}
		{{ currency }}</p>
{% endif %}
